<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:post-title {"textAlign":"center","level":3} /-->

<!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained","contentSize":"1600px","wideSize":"1920px","justifyContent":"center"}} /-->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}},"color":{"background":"#1c1c1c"}},"className":"is-style-dots"} -->
<hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-dots" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);background-color:#1c1c1c;color:#1c1c1c"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading {"level":6,"style":{"layout":{"selfStretch":"fixed","flexSize":"150px"}}} -->
<h6 class="wp-block-heading">Categories: </h6>
<!-- /wp:heading -->

<!-- wp:post-terms {"term":"category","style":{"color":{"background":"#8dd2fc8c"},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"bs-r"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading {"level":6,"style":{"layout":{"selfStretch":"fixed","flexSize":"150px"}}} -->
<h6 class="wp-block-heading">Tags: </h6>
<!-- /wp:heading -->

<!-- wp:post-terms {"term":"post_tag","style":{"color":{"background":"#abb7c2a3"},"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"bs-r"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"2rem","left":"2rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="padding-right:2rem;padding-left:2rem"><!-- wp:post-navigation-link {"type":"previous","label":"","showTitle":true,"arrow":"chevron","style":{"layout":{"selfStretch":"fixed","flexSize":"40vw"}}} /-->

<!-- wp:paragraph {"align":"center","fontSize":"md-r"} -->
<p class="has-text-align-center has-md-r-font-size">|</p>
<!-- /wp:paragraph -->

<!-- wp:post-navigation-link {"textAlign":"right","showTitle":true,"arrow":"chevron","style":{"layout":{"selfStretch":"fixed","flexSize":"40vw"}}} /--></div>
<!-- /wp:group -->

<!-- wp:separator {"style":{"color":{"background":"#1c1c1c"}},"className":"is-style-dots"} -->
<hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-dots" style="background-color:#1c1c1c;color:#1c1c1c"/>
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->